.ctTrip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 260px;
    height: 333px;
    border-radius: 20px;
}

.ctImg {
    width: 260px;
    height: 260px;
    border-radius: 20px;
    overflow: hidden;
}

.imgTrip {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.ctTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 260px;
    height: 100px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-color: var(--yellow-color);
    border-radius: 20px;
    padding: 25px 15px 5px 15px;
    color: var(--blue-color);
}

.ctTxt h6 {
    font-size: var(--font-size-s);
}

.ctTxt p {
    font-size: var(--font-size-xs);
}